<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maths inCoding</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/public/images/site_logo.jpg" sizes="32x32">
    <link rel="icon" type="image/x-icon" href="/public/images/site_logo.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/site_logo.jpg">    
	<style>
        /* Reset browser styles */
        * {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            vertical-align: baseline;
            box-sizing: border-box;
        }

        /* Fonts */
        @font-face {
            font-family: 'ModernPictograms';
            src: url("public/assets/fonts/modernpics-webfont.eot");
            src: url("public/assets/fonts/modernpics-webfont.eot?#iefix") format("embedded-opentype"),
                url("public/assets/fonts/modernpics-webfont.woff") format("woff"),
                url("public/assets/fonts/modernpics-webfont.ttf") format("truetype")
            font-weight: normal;
            font-style: normal;
        }

        /* Global styles */
        body {
            font-family: "Trebuchet MS", Verdana, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #82a2c2;
            margin: 0;
        }

        /* Header styles */
        header.SiteHeader {
            background: #6d7bab;
            padding: 12px 0;
            text-align: center;
            color: white;
        }

        header.SiteHeader h1 {
        
        font-size: 5em;
        text-align: center;}
        
        .containerImg {

            vertical-align:right;
            width: 20%;
            float: right;
        }

        #missionStatement {
            margin-top: 20px;
            margin-left: 20px;
            float: left;
            color: white;
        }

        /* Main content container */
        .content-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }

        /* Container styles */
        .container {
            width: calc(33.33% - 20px);
            margin: 0 10px;
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }

        /* Image wrapping styles */
        .imgWrap {
            display: inline-block;
            border: 1px solid transparent;
            transition: transform 0.3s;
        }

        .imgWrap:hover {
            transform: scale(1.05);
        }

        /* Heading styles */
        h1 {
            font-size: 2em;
            margin-bottom: 0.5em;
        }

        h3 {
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }

        /* Footer styles */
        #FatFooter {
            background: rgba(44, 66, 91, 0.8);
            border-top: 1px solid black;
            font-size: 14px;
            padding: 20px;
            text-align: center;
        }

        /* Button styles */
        #myButton {
            width: 30px;
            height: 30px;
            padding: 0;
            border: none;
            background: none;
        }

        /* Feedback link */
        .wordWrapper2 {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <header class="SiteHeader">
	<h1>Maths inCoding <img style="float: right;" width="120" height ="120" src="public/images/linux_site_logo.jpg" alt="Pi with numbers"></h1>
        <div id="missionStatement">
            <h3>... learning maths through coding computer games</h3>
        </div>
    </header>

    <!-- Main content -->
    <div class="content-container">
        <!-- Container 1 -->
        <div class="container">
            <h1>Number</h1>
            <div class="imgWrap">
                <img id="number_img" class="imgToHover" src='public/images/number_image.jpg' width="100%" height="100%" alt="Number">
            </div>
        </div>

        <!-- Container 2 -->
        <div class="container">
            <h1>Algebra</h1>
            <div class="imgWrap">
                <img id="algebra_img" class="imgToHover" src='public/images/algebra_image.jfif' width="100%" height="100%" alt="Algebra">
            </div>
        </div>

        <!-- Container 3 -->
        <div class="container">
            <h1>Ratio and Proportion</h1>
            <div class="imgWrap">
                <img id="ratio_img" class="imgToHover" src='public/images/ratio2.jpg' width="100%" height="100%" alt="Ratio and Proportion">
            </div>
        </div>

        <!-- Container 4 -->
        <div class="container">
            <h1>Probability</h1>
            <div class="imgWrap">
                <img id="probability_img" class="imgToHover" src='public/images/probability.png' width="100%" height="100%" alt="Probability">
            </div>
        </div>

        <!-- Container 5 -->
        <div class="container">
            <h1>Geometry</h1>
            <div class="imgWrap">
                <img id="geometry_img" class="imgToHover" src='public/images/geometry.jpg' width="100%" height="100%" alt="Geometry">
            </div>
        </div>

        <!-- Container 6 -->
        <div class="container">
            <h1>Statistics</h1>
            <div class="imgWrap">
                <img id="statistics_img" class="imgToHover" src='public/images/statistics.png' width="100%" height="100%" alt="Statistics">
            </div>
        </div>
    </div>

    <footer id="FatFooter">
        <!-- Footer content -->
        <div class="wordWrapper">
            <h3>How to set up</h3>
        </div>

	<div>
            <a href="https://www.youtube.com/watch?v=F1LzrEUtcHI" target="_blank">
                <div class="footerImgOne">
                    <img width="150" src="public/images/scratch.png" alt="Scratch">
                </div>
            </a>

            <a href="https://www.youtube.com/watch?v=PcEbSoSGioY&t" target="_blank">
                <div class="footerImgTwo">
                    <img width="195" height="125" src="public/images/roblox.jfif" alt="Roblox">
                </div>
            </a>

            <a href="https://www.youtube.com/watch?v=qhFMKs74DvU" target="_blank">
                <div class="footerImgThree">
                    <img width="175" height="125" src="public/images/unreal engine.jfif" alt="Unreal Engine">
                </div>
            </a>

            <a href="https://www.youtube.com/watch?v=nCut7t2oNwA" target="_blank">
                <div class="footerImgFour">
                    <img width="175" height="125" src="../public/images/visual studio.jfif" alt="Visual Studio">
                </div>
            </a>
        </div>

        <!-- Feedback link -->
        <a href="../assets/feedback_form.html" target="_blank" class="wordWrapper2">
            <h3>If you have any queries about the information presented here, please click this link</h3>
        </a>
    </footer>
</body>
</html>

